*{
    box-sizing: border-box;
}
option, select {
    text-transform: capitalize;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.MuiButton-root {
    font-family: 'Montserrat', sans-serif !important;
}
.PrivateNotchedOutline-root-1.MuiOutlinedInput-notchedOutline {
    border-color: #093028 !important;
    border-width: 1px;
}
.pageTitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
    
}
a {
    text-decoration: none;
    color: initial;
    cursor: pointer;
}
code, .MuiTypography-body1  {
    font-family: 'Montserrat', sans-serif !important;
}
header nav img {
    width: 70px;
    height: 70px;
}
header nav {
    padding: 1rem 3rem;
}

header nav > div {
    justify-content: space-between;
}

header nav ul li {
    padding: 0 1rem;
    list-style: none;
}
header nav ul li a{
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
}
.text-capitalize {
    text-transform: capitalize;
}
.text-primary {
    color: #093028;
    font-weight: 700;
}
.sectionTitle {
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    color: #093028;
    margin: 0 ;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}
h6.sectionTitle {
    font-size: 13px;
}
.sectionTitle.bigger{
    font-size: 16px;
}

.semi-bold {
    font-weight: 600;
}

.bg {
    background-image: url('./assets/images/bg.png');
    min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}
.world img {
    max-width: 100%;
    max-height: 100vh;
    margin: -0.8rem 0;
    object-fit: contain;
}
.world {
    margin-top: -5rem !important;
}

.home {
    background-image: url('./assets/images/home-bg.png');
    min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    align-items: center;
    position: fixed;
}


.home-content p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    color: #FFF;
}
.home-content p span {
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    display: block;
}
.home-content {
    margin: auto;
}
.home-content h3 {
    color: #ffff01;
    font-weight: 900;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 35px;
    font-family: 'Montserrat', sans-serif;
}
.home-content .card {
    margin: 1rem auto 2rem;
    width: 55%;
}
.home-content .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 35px;
}
.home-content .right > span {
    color: #fff;
}

.home-content button, .home-content button:hover {
    color: #000;
    background-color: #ffff01;
    font-size: 16px;
    border-radius: 20px;
    width: fit-content;
    padding: .5rem 2rem;
    margin-bottom: 1rem;
}

.home-content {
    position: fixed;
    bottom: 0;
    left: 0; right: 0;
    width: 100%;
    padding: 0 2rem;
}



.wt-bg {
    border-radius: 20px;
    background-color: #FFF;
    border: 1px solid #000;
    padding: 20px;
    margin: 20px 0
}
.btn.white{
    background-color: #FFF;
}

.btn.red, .btn.red:hover {
    background-color: #D10404;
}

button.btn, a.btn {
    border-radius: 30px;
    margin-top: .8rem;
    font-weight: 700;
    font-size: 12px;
    min-height: 35px;
    min-width: 150px;
    padding: 0 .8rem;
}

.cart-add-btns {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}
.product-card {
    padding: 0 .5rem;
    cursor: pointer;
}
.product-card .section {
    transition: .3s;
}
.product-card .section:hover {
    transform: translateY(-5px);
    /* box-shadow: 0px 3px 3px 3px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%); */
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
p.rating {
    display: flex;
    align-self: center;
}

.product-card h4 {
    font-weight: 800;
    font-size: 20px;
    margin: .5rem 0 0;
}
.product-card h5 {
    font-weight: 500;
    font-size: 12px;
    margin: 0;
}
.text-center {
    text-align: center;
}
.product-card p {
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    margin: .2rem 0;
}
.product-card p sup {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}
.product-card .img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.product-card button {
    margin: .5rem .5rem .5rem 0;
    padding: .5rem 1.3rem;
}
.product-card .icons img {
    margin: 0 .2rem 0;
}

.news-card {
    padding: 1rem;
}
.news-card img {
    width: 100%;
    object-fit: cover;
}
.news-card .name {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
}
.news-card .email {
    margin-top: 0;
}
.news-card .actions p {
    margin-bottom: .3rem;
    margin-top: 0;
    text-align: center;
    font-weight: 600;
}
.news-card .actions button {
    box-shadow: none;
    height: 30px;
    font-size: 12px;
}
.news-card p.views {
    font-size: 23px;
    margin-top: 1.5rem;
}
.news-card p.views span {
    font-size: 75%;
}

.categories label {
    margin: 0;
}
.categories label span {
    text-transform: capitalize;
}

.price {
    font-weight: 900;
    font-size: 40px;
    white-space: nowrap;
    margin: .5rem 0 0 ;
    color: #000;
}
.price > sub {
    font-weight: 900;
    font-size: 16px;
    margin: .5rem 0 0;
}


.news-feed-side-bar.right p.no-margin{
    font-weight: bold;
}

.d-flex {
    display: flex !important; flex-direction: row;
}
.d-flex-column {
    display: flex !important; flex-direction: column
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}

div.form-control {
    margin: .8rem 1rem;
    width: 100%;
}
.no-margin {
    margin: 0 !important;
}
.form-group {
    padding: 2rem 10%;
    height: 100%;
}

.wallet-balance {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
.wallet-balance sub, .wallet-balance sup {
    font-size: 18px;
    display: inline-block;
    margin: 1rem .5rem;
}


.form-group h1, .form-group p, .form-group h3{
    margin: 0 0 .8rem;
}
.form-group h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 45px;
}
.form-group button {
    margin: 1rem auto 2rem;
}
.form-group a{
    color: #093028;
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    text-align: right;
    color: #FFF;
    margin-top: 2rem;
    font-weight: 600;
}
.dash-let {
    background-color: #FFF;
    text-align: center;
    border-radius: 20px;
    padding: 1rem .5rem;
    cursor: pointer;
}
.dash-let img {
    width: 120px;
    height: 120px;
}
.dash-let p {
    margin: .2rem 0 0;
    font-weight: 700;
}

.chats {
    padding-right: 1rem !important;
    padding-left: 0 !important;
}

 .MuiAvatar-root img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chats .MuiListItemText-multiline .MuiListItemText-primary {
    font-weight: bold;
}
.message-list {
    display: flex;
    flex-direction: column;
    padding: 20px !important;
    max-height: 100%;
    height: calc(100vh - 345px);
}
.chat-control {
    display: flex !important;
    flex-direction: row !important;
    padding-top: .5rem !important;
}
.message-list li {
    max-width: 70%;
    background-color: #eee;
    margin: .3rem 0;
    border-radius: 20px;
    width: fit-content;
}
.message.right {
    align-self: flex-end;
    text-align: right;
    border-bottom-right-radius: 0;
}
.message.left {
    align-self: flex-start;
    border-bottom-left-radius: 0;
}

.error-text {
    color: brown;
    text-align: center;
    font-size: 14px;
}
.success-text {
    color: green;
    text-align: center;
    font-size: 14px;
}

.profile-sidebar {
    border-right: 1.5px solid;
    padding-right: 1.5rem;
    height: 82vh;
    left: auto;
    right: 0;
    position: sticky;
    top: 120px
}
.profile-sidebar .MuiListItemIcon-root {
    min-width: fit-content;
    margin-right: 1rem;
}
.profile-sidebar .MuiListItem-root  {
    border-bottom: 1px solid #ccc;
}
.active-menu svg, .active-menu span {
    color: #093028;
    font-weight: 800;
}

.dashlet {
    border-radius: 10px;
    border: 2px solid #eee;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: .5rem;
    width: 100%;
    display: flex;
}
.dashlet svg {
    font-size: 50px;
    margin-right: 10px;
}

.dashlet span {
    font-weight: 900;
    font-size: 23px;
    line-height: normal;
}
.dashlet p {
    font-size: 14px;
    line-height: normal;
}


.permit-plan {
    padding: 15px 10px;
    transition: .3s;
    border-radius: 10px;
}
.permit-plan:hover{
    background-color: #093028;
    transform: translateY(-5px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  
}
.permit-plan .MuiCard-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-width: 2px;
    border: 1.5px solid #093028;
}
.permit-plan h3, .permit-plan h4, .permit-plan h5, .permit-plan li {
    text-align: center;
}
.permit-plan h3 {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 800;
    margin: 25px auto 10px;
}
.permit-plan h4 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 800;
    margin: 0;
}
.permit-plan h5 {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 15px;
    text-decoration: underline;
}
.permit-plan ul {
    margin: 0;
    padding: 0;
    flex: 1
}
.permit-plan li {
    list-style: none;
    text-transform: capitalize;
    line-height: 25px;
    font-weight: 500;
}
.permit-plan button {
    text-transform: capitalize;
}

.availability .MuiOutlinedInput-adornedEnd {
    padding-right: 0;
}
.availability p {
    border-left: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 2rem;
    height: 56px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.availability .MuiOutlinedInput-root .MuiOutlinedInput-root {
    width: 50%;
}
.product-form > div, .product-form > div.images > div {
    padding: .5rem;
}
.image-holder {
    transition: .3s;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #093028;
    padding: .5rem;
    height: 250px;
    border: 2px solid #093028;
    cursor: pointer;
}
.image-holder svg, .image-holder img {
    display: block;
    margin: auto;
}
.image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.image-holder h4 {
    margin: 0;
}
.image-holder:hover{
    background-color: #093028;
    transform: translateY(-5px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.image-holder:hover a{
    color: #fff;
}
.product-form div.form-control {
    margin:.5rem .3rem;
}

.badge {
    background-color: brown;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: .2rem;
    font-size: 12px;
    margin: .2rem;
}

.custom-menu ul {
    width: 50vw;
}
.custom-menu li {
    padding: 1rem 2rem;
}

@media(max-width: 950px) {
    .world {
        display: none;
    }
    .home nav ul li a {
        color: #fff;
    }
    .home-content h3 {
        font-size: 35px;
        line-height: 40px;
    }
    .home-content .card {
        padding: 1.5rem 1rem;
        font-size: 16px;
    }
    .home-footer {
        position: relative;
        padding: 1rem
    }
    .home-footer p {
        font-size: 16px;
    }
    .footer p {
        text-align: center;
    }
    header nav img {
        width: 50px;
        height: 50px;
    }
    .product-form div.form-control {
        margin: 0
    }
    header nav {
        padding: 1rem 2rem;
    }

    .home p, .home h3, .home span {
        text-align: center;
    }
    .home-content p {
        font-size: 35px;
    }
    .home-content p span {
        font-size: 60px;
        line-height: 60px;
    }
    .home-content h3 {
        font-size: 25px;
    }
    .home-content {
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 100vh;
    }
    .home .right {
        justify-content: center;
        align-items: center;
    }
    .MuiButton-startIcon {
        margin-right: 0 !important;
    }
    .product-card {
        padding: 1rem 0 .5rem;
    }
    .product-card > div:last-child {
        padding: 1rem;
    }
    button.home-btn.button {
        margin: 1rem auto 3rem;
    }
    /* button.btn, a.btn {
        min-height: 45px;
    } */
    .news-card {
        padding: .5rem 0;
    }
    .news-card p.views {
        font-size: 16px;
    }
    .news-card p.views span {
        display: block;
    }
    .news-card .actions button {
        box-shadow: none;
        height: 30px;
        font-size: 10px;
    }
}

.form-label {
    display: block;
    margin: 1rem 0 .5rem;
    text-align: left;
}

.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.mt-0 { margin-top: 0 !important }
.mt-1 { margin-top: 1rem !important }
.mt-2 { margin-top: 2rem !important }
.mt-3 { margin-top: 3rem !important }
.mt-4 { margin-top: 4rem !important }
.mt-5 { margin-top: 5rem !important }
.mt-6 { margin-top: 6rem !important }
.mt-7 { margin-top: 7rem !important }
.mt-8 { margin-top: 8rem !important }
.mt-9 { margin-top: 9rem !important }
.mt-10 { margin-top: 10rem !important }

.mb-0 { margin-bottom: 0 !important }
.mb-1 { margin-bottom: 1rem !important }
.mb-2 { margin-bottom: 2rem !important }
.mb-3 { margin-bottom: 3rem !important }
.mb-4 { margin-bottom: 4rem !important }
.mb-5 { margin-bottom: 5rem !important }
.mb-6 { margin-bottom: 6rem !important }
.mb-7 { margin-bottom: 7rem !important }
.mb-8 { margin-bottom: 8rem !important }
.mb-9 { margin-bottom: 9rem !important }
.mb-10 { margin-bottom: 10rem !important }

.mr-0 { margin-right: 0 !important }
.mr-1 { margin-right: 1rem !important }
.mr-2 { margin-right: 2rem !important }
.mr-3 { margin-right: 3rem !important }
.mr-4 { margin-right: 4rem !important }
.mr-5 { margin-right: 5rem !important }
.mr-6 { margin-right: 6rem !important }
.mr-7 { margin-right: 7rem !important }
.mr-8 { margin-right: 8rem !important }
.mr-9 { margin-right: 9rem !important }
.mr-10 { margin-right: 10rem !important }

.ml-0 { margin-left: 0 !important }
.ml-1 { margin-left: 1rem !important }
.ml-2 { margin-left: 2rem !important }
.ml-3 { margin-left: 3rem !important }
.ml-4 { margin-left: 4rem !important }
.ml-5 { margin-left: 5rem !important }
.ml-6 { margin-left: 6rem !important }
.ml-7 { margin-left: 7rem !important }
.ml-8 { margin-left: 8rem !important }
.ml-9 { margin-left: 9rem !important }
.ml-10 { margin-left: 10rem !important }


.pt-0 { padding-top: 0 !important }
.pt-1 { padding-top: 1rem !important }
.pt-2 { padding-top: 2rem !important }
.pt-3 { padding-top: 3rem !important }
.pt-4 { padding-top: 4rem !important }
.pt-5 { padding-top: 5rem !important }
.pt-6 { padding-top: 6rem !important }
.pt-7 { padding-top: 7rem !important }
.pt-8 { padding-top: 8rem !important }
.pt-9 { padding-top: 9rem !important }
.pt-10 { padding-top: 10rem !important }

.pb-0 { padding-bottom: 0 !important }
.pb-1 { padding-bottom: 1rem !important }
.pb-2 { padding-bottom: 2rem !important }
.pb-3 { padding-bottom: 3rem !important }
.pb-4 { padding-bottom: 4rem !important }
.pb-5 { padding-bottom: 5rem !important }
.pb-6 { padding-bottom: 6rem !important }
.pb-7 { padding-bottom: 7rem !important }
.pb-8 { padding-bottom: 8rem !important }
.pb-9 { padding-bottom: 9rem !important }
.pb-10 { padding-bottom: 10rem !important }

.pr-0 { padding-right: 0 !important }
.pr-1 { padding-right: 1rem !important }
.pr-2 { padding-right: 2rem !important }
.pr-3 { padding-right: 3rem !important }
.pr-4 { padding-right: 4rem !important }
.pr-5 { padding-right: 5rem !important }
.pr-6 { padding-right: 6rem !important }
.pr-7 { padding-right: 7rem !important }
.pr-8 { padding-right: 8rem !important }
.pr-9 { padding-right: 9rem !important }
.pr-10 { padding-right: 10rem !important }

.pl-0 { padding-left: 0 !important }
.pl-1 { padding-left: 1rem !important }
.pl-2 { padding-left: 2rem !important }
.pl-3 { padding-left: 3rem !important }
.pl-4 { padding-left: 4rem !important }
.pl-5 { padding-left: 5rem !important }
.pl-6 { padding-left: 6rem !important }
.pl-7 { padding-left: 7rem !important }
.pl-8 { padding-left: 8rem !important }
.pl-9 { padding-left: 9rem !important }
.pl-10 { padding-left: 10rem !important }